/* dashboard2.css */

/* Common table styles */
.table-common {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-common th,
.table-common td {
    text-align: center;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-common thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-common tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-common .table {
    background-color: #fff;
}

/* Add zebra-striping */
.table-common tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-dark {
    color: #fff;
    background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #454d55;
}

.table-dark.table-bordered {
    border: 0;
}

/* Responsive styles for buttons and text */
@media (max-width: 767.98px) {
    .btn-group.d-flex.flex-wrap {
        flex-direction: column;
    }

    .btn-group .btn {
        margin-bottom: 10px;
    }

    .text-md-right {
        text-align: center !important;
    }
}

@media (max-width: 767.98px) {
    .navbar-brand {
        display: none !important; 
    }

    .navbar-text-logo {
        display: right !important; 
    }
}
