/* app/static/css/home_status.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Container */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 2500px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 1px;
}

/* Summary */

.summary-row {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Ensure spacing between boxes */
    margin-bottom: 20px;
}

.summary-box {
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 3D effect */
    font-weight: bold;
    flex: 1;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.summary-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.summary-green {
    background-color: #4caf50; /* Material design green */
}

.summary-yellow {
    background-color: #ffeb3b; /* Material design yellow */
    color: black;
}

.summary-red {
    background-color: #f44336; /* Material design red */
}

.summary-blue {
    background-color: #2196f3; /* Material design blue */
}

.summary-white {
    background-color: #ffffff;
    color: black;
    border: 1px solid #ccc;
}

/* Status */

.status-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Updated to take full width */
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 10px #eee;
    margin-top: 5px;
   
    background: #f9f9f9;
}

.status-header-container {
    font-family: 'Roboto', sans-serif; /* Use the new font */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative; /* Added to position the legend correctly */
    
}

.status-header {
    font-size: 2vw;
    font-weight: regular;
    margin-bottom: 0px;
    flex: 1;
    text-align: center; /* Center the text within its flex container */
}
/* THIS CONTROLLS THE GRID */
.status-grid-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.status-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr)); /* Use auto-fit to adjust columns */
    gap: 10px; /* Space between the squares */
    justify-content: center;

}
.status-square {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #aaa;
    border-radius: 5px;
    color: white; /* Default text color */
    font-size: clamp(12px, 1vw, 20px); /* Responsive font size */
    padding: 5px; /* Add some padding */
    background-color: gray; /* Default background color when off */
    cursor: pointer; /* Change cursor to pointer */
    user-select: none;
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: wrap; /* Prevent text from wrapping */
}

/* Legend */

.legend {
    padding: 6px;
    border: 0px solid #ccc;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    z-index: 50; /* Ensure it's on top */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-square {
    
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}



@media (max-width: 1200px) {
    .status-square {
        font-size: 1.5vw; /* Adjust font size for large screens */
    }
}

@media (max-width: 992px) {
    .status-square {
        font-size: 2vw; /* Adjust font size for medium screens */
    }
}

@media (max-width: 768px) {
    .status-square {
        font-size: 2.5vw; /* Adjust font size for small screens */
    }
}

@media (max-width: 576px) {
    .status-square {
        font-size: 2vw; /* Adjust font size for extra small screens */
        
    }
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 9000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1px;
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #f0f0f0;
}

/* Responsive design */
@media (max-width: 768px) {
    .summary-row {
        flex-wrap: wrap; /* allow wrapping */
        overflow-x: hidden; /* Allow horizontal scrolling */
    }

    .summary-box {
        flex: 1 1 100px; /* Ensure they can shrink proportionally */
        margin: 1px; /* Adjust margin for spacing */
        font-size: 2.2vw; /* Make font size responsive */
    }

    .status-section {
        width: 100%;
    }

    .status-header-container {
        flex-direction: row; /* Stack items vertically */
        align-items: center;
    }

    .legend {
        margin-top: 0px; /* Add space between header and legend */
    }

    .legend-item {
        margin-bottom: 10px;
    }
    
    .status-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 2.2vw)); /* Use auto-fit to adjust columns */
        gap: 10px; /* Space between the squares */
        justify-content: center;
    
    }
}

html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Borders */
.status-square[data-type="5605"] {
    box-shadow: 0 0 7px 1.2px rgb(25, 0, 255);
}
.status-square[data-type="5607"] {
    box-shadow: 0 0 7px 1.2px purple;
}
.square.active {
    background-color: green;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .main-content {
        margin-left: 200px; /* Adjust based on sidebar width */
        width: calc(100% - 200px); /* Adjust based on sidebar width */
        font-size: 1.5vw; /* Adjust font size */
    }
    .navbar {
        width: calc(100% - 200px); /* Adjust based on sidebar width */
        left: 200px; /* Adjust left position based on sidebar width */
    }
}

@media (max-width: 992px) {
    .main-content {
        margin-left: 150px; /* Adjust based on sidebar width */
        width: calc(100% - 150px); /* Adjust based on sidebar width */
        font-size: 2vw; /* Adjust font size */
    }
    .navbar {
        width: calc(100% - 150px); /* Adjust based on sidebar width */
        left: 50px; /* Adjust left position based on sidebar width */
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0; /* Remove sidebar margin */
        width: 100%; /* Full width */
        padding: 0px; /* Reduce padding */
        font-size: 2.5vw; /* Adjust font size */
    }
    .navbar {
        position: static; /* Change to static for smaller screens */
        width: 100%; /* Full width */
        margin-bottom: 10px; /* Add margin to push content down */
        left: 0; /* Reset left position */
    }
    #sidebar-container {
        display: none; /* Hide sidebar on small screens */
    }
    .status-grid-container {
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
    }
    .status-header{
        display: none; 
    }
    .summary-box {
        padding: 3px;
        text-align: center;

        color: rgb(0, 0, 0);
        border-radius: 1ch;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 3D effect */
        font-weight: bold;
        flex: 1 1 10px; /* Adjusted flex property to control growth and shrinkage */
        max-width: 68px; /* Set a maximum width */
        margin: 0 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        transition: transform 0.2s, box-shadow 0.2s;
        flex-wrap: nowrap; /* Prevent wrapping to the next line */
        font-weight: bold;
        font-family: 'Roboto'
    }
    .summary-row {
        display: flex;
        width: 100%;
        justify-content: center; /* Ensure spacing between boxes */
        margin-bottom: 0px;
    }
}
