/* General styles */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0; /* Remove top padding for the fixed navbar */
    font-family: Arial, sans-serif;
    font-size: 1vw; /* Base font size using viewport width */
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 3D-like border */
    z-index: 1030; /* Ensure navbar is on top */
    width: 100%; /* Ensure navbar takes full width */
    position: relative; /* Adjust position to manage z-index properly */
    transition: width 0.3s, height 0.3s; /* Smooth transition for width and height */
    /* overflow: hidden; Remove this line */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent line breaks */
    font-size: 1vw; /* Base font size using viewport width */
}


.navbar-nav .nav-item .nav-link {
    color: #000; /* Ensure the navbar links are black for contrast */
    display: flex;
    align-items: center; /* Vertically center text */
    font-size: 1vw; /* Base font size using viewport width */
}

/* New styles for nav buttons */
.nav-buttons {
    display: flex;
    align-items: center;
    margin-right: auto; /* Align buttons to the left */
    padding-left: 10px; /* Adjust as needed for spacing */
}

.nav-button {
    background: transparent;
    color: #333; /* Dark text color for visibility */
    border: none;
    padding: 15px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1vw; /* Base font size using viewport width */
    line-height: 1.5;
    height: 100%; /* Take the full height of the navbar */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0; /* Rounded top corners */
    transition: background-color 0.3s, color 0.3s;
}

.nav-button.active {
    color: black; /* Text color black for active button */
    border-left: 12px solid #1c0669; /* White bottom border for active state */
}

.nav-button:hover {
    background-color: #44525c; /* Darker blue on hover for unselected state */
    color: white;
}

.nav-button i {
    margin-right: 5px; /* Add space between icon and text */
}

/* Sidebar styles */
#sidebar-container {
    min-height: 100vh;
    background-color: #192631 !important; /* Updated background color with !important */
    width: 230px; /* Adjusted width */
    transition: width 0.3s;
    position: fixed; /* Fixed position to prevent overlap */
    top: 0; /* Set top to 0 to extend to the top */
    z-index: 1040; /* Ensure sidebar is above navbar */
}

.sidebar-logo {
    height: auto; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #192631 !important; /* Match sidebar background color with !important */
    padding-top: 40px; /* Add top padding */
    padding-bottom: 40px; /* Add bottom padding */
}

.sidebar-logo-img {
    max-height: 57px; /* Adjust height as needed */
    width: auto;
}

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 230px; /* Adjust based on sidebar width */
    transition: margin-left 0.3s;
    font-size: 1vw; /* Base font size using viewport width */
}

.full-width {
    margin-left: 0 !important;
    width: 100% !important;
}

.sidebar-collapsed + .main-content {
    margin-left: 60px; /* Adjust based on collapsed sidebar width */
}

#sidebar-container .list-group a {
    height: 50px;
    color: white !important; /* Ensure text color is white with !important */
    display: flex;
    align-items: center; /* Vertically center text and icon */
    padding: 0 20px; /* Adjust padding to ensure content is visible */
    background-color: #192631 !important; /* Updated background color with !important */
    text-decoration: none; /* Remove underline from links */
    line-height: 50px; /* Ensure text is centered vertically */
}

#sidebar-container .list-group a .fa-fw {
    margin-right: 10px; /* Add spacing between icon and text */
}

#sidebar-container .list-group a:hover {
    background-color: #44525c !important; /* Updated hover color with !important */
}

#sidebar-container .list-group a.active {
    background-color: #222f3a !important; /* Updated selected item color with !important */
}

/* Submenu item */
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
    display: flex;
    align-items: center; /* Vertically center text and icon */
    line-height: 45px; /* Ensure text is centered vertically */
}

.sidebar-submenu {
    font-size: 0.9rem;
}

.sidebar-separator-title {
    background-color: #182835 !important; /* Match sidebar background color with !important */
    padding-top: 15px; /* Reduce top padding */
    padding-bottom: 15px; /* Reduce bottom padding */
    padding-left: 35px; /* Keep left padding for text alignment */
    display: flex;
    align-items: center; /* Vertically center text */
    font-weight: bold; /* Make text bold */
    line-height: 1; /* Adjust line height */
}

.sidebar-separator {
    background-color: #192631 !important; /* Match sidebar background color with !important */
    height: 25px;
    display: flex;
    align-items: center; /* Vertically center text */
    line-height: 25px; /* Ensure text is centered vertically */
}

.logo-separator {
    background-color: #192631 !important; /* Match sidebar background color with !important */
    height: 60px;
    display: flex;
    align-items: center; /* Vertically center text */
    line-height: 60px; /* Ensure text is centered vertically */
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* Responsive navbar adjustments */
@media (max-width: 767.98px) {
    .navbar .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 56px; /* Adjust based on your navbar height */
        left: 0;
        right: 0;
        background-color: white;
        z-index: 1031; /* Ensure it appears above content */
        font-size: 2.5vw; /* Adjust font size for smaller screens */
    }

    .navbar .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        text-align: center;
        width: 100%;
    }

    .navbar {
        width: 100%;
        z-index: 1030; /* Lower the z-index for mobile view */
        font-size: 2.5vw; /* Adjust font size for smaller screens */
    }

    #sidebar-container {
        display: none; /* Hide sidebar on small screens */
    }

    .main-content {
        margin-left: 0;
        font-size: 2.5vw; /* Adjust font size for smaller screens */
    }

    .navbar-text-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: nowrap; /* Prevent wrapping */
        white-space: nowrap; /* Prevent text from wrapping */
    }

    .navbar-text-logo .navbar-brand {
        margin: 0;
        padding-left: 0; /* Remove left padding */
        padding-right: 50px; /* Add right padding CONTROLS THE TEXT */
    }

    .navbar-text-logo .navbar-logo {
        margin-left: 0; /* Remove left margin */
    }

    .navbar-logo img {
        height: 30px;
    }

    .navbar-toggler-centered {
        margin-right: auto; /* Align to the left */
    }
}

/* DASHBOARD */
.form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw; /* Base font size using viewport width */
}

.form-inline .form-group {
    margin-right: 10px;
}

.form-inline .form-control {
    min-width: 200px;
}

.form-inline .btn {
    min-width: 100px;
}

/* Additional responsive adjustments for larger screens */
@media (min-width: 768px) and (max-width: 1200px) {
    body,
    .navbar,
    .navbar-nav .nav-item .nav-link,
    .nav-button,
    .main-content,
    .form-inline {
        font-size: 1.2vw; /* Adjust font size */
    }
}

/* Additional responsive adjustments for smaller screens */
@media (max-width: 767.98px) {
    body,
    .navbar,
    .navbar-nav .nav-item .nav-link,
    .nav-button,
    .main-content,
    .form-inline {
        font-size: 2.5vw; /* Adjust font size */
    }
}
.dropdown-menu {
    z-index: 1050; /* Higher than the default navbar and content */
}
.nav-item.dropdown .dropdown-toggle {
    display: flex;
    align-items: center;
    color: #000; /* Change to your preferred color */
}

.nav-item.dropdown .dropdown-toggle:hover {
    color: #192631; /* Change to your preferred hover color */
}
.dropdown-menu .dropdown-item {
    padding: 10px 20px; /* Adjust padding for better spacing */
    color: #000; /* Change to your preferred color */
    z-index: 1050; /* Higher than the default navbar and content */

}

.dropdown-menu .dropdown-item:hover {
    background-color: #1062b4; /* Change to your preferred hover background color */
    color: #192631; /* Change to your preferred hover text color */
}
.dropdown-item {
    padding: 10px 20px;
    color: #000;
    transition: background-color 0.2s, color 0.2s;
    z-index: 1050; /* Higher than the default navbar and content */

}
.user-icon {
    width: 30px;
    height: 30px;
    font-size: 1rem; /* Adjust the icon size */
    background-color: #192631; /* Primary blue background color */
    color: #fff; /* White color for the icon */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Make it a circle */
}
.navbar .nav-item .nav-link {
    display: flex;
    align-items: center;
}
.navbar .nav-item .nav-link .icon-circle {
    width: 30px;
    height: 30px;
    font-size: 1rem; /* Adjust the icon size */
    background-color: #192631; /* Primary blue background color */
    color: #fff; /* White color for the icon */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Make it a circle */
    margin-right: 0.5rem;
    }
    @media (max-width: 767.98px) {
        .navbar-collapse {
            width: auto;
            background-color: rgb(27, 40, 219);
        }
    
        .navbar-nav .nav-item {
            width: 100%;
        }
    
        .navbar-nav .nav-item .nav-link {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
        }
    
        .navbar-nav .nav-item .icon-circle {
            margin-right: 10px;
        }
    
        .navbar-nav .navbar-collapse .collapse {
            background-color: rgb(51, 75, 212);
            width: auto;
        }
    
        .navbar-nav .navbar-collapse .collapse .navbar-nav {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
    }
    
    