body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.status-section {
    margin-top: 20px;
}

.status-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.status-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.status-square {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateY(0);
    transition: transform 0.3s ease;

    
}
.status-sticker {
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: perspective(1px) translateZ(0);
    transition: transform 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
    align-self: center; /* Center the sticker within the flex container */
    white-space: nowrap; /* Prevents text from wrapping */
}


.ticket-header {
    padding: 10px 16px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.ticket-body {
    padding: 16px;
    color: #333;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ticket-body p {
    margin: 8px 0;
}

.ticket-body p strong {
    color: #555;
}

.time-elapsed-container {
    padding: 5px 0px;
    padding-bottom: 0px; /* Additional padding to move text down */
    background-color: #e4e4e4fa; /* Lighter background color */
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px; /* Fixed typo from 15x to 15px */
    height: 40px; /* Set a fixed height */
    align-items: center;
    justify-content: center;
}