<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My App{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <div class="sidebar-logo">
                <img src="{{ url_for('static', filename='images/logonobg_w.png') }}" class="sidebar-logo-img" alt="Logo">
            </div>
            <ul class="list-group">
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>MAIN MENU</small>
                </li>

                <a href="{{ url_for('main.stack_control_5605') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-home fa-fw mr-3"></span>
                        <span class="menu-collapsed">Home</span>
                    </div>
                <!-- Collapsible menu for 5605 Building -->
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-lightbulb fa-fw mr-3"></span>
                        <span class="menu-collapsed">Stacklights</span>
                        <span class="fas fa-caret-down ml-auto"></span>
                    </div>
                </a>
                <!-- Submenu -->
                <div id="submenu1" class="collapse sidebar-submenu">
                    <a href="{{ url_for('main.stack_control_5605') }}" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Stack Control</span>
                    </a>
                    <a href="{{ url_for('main.stack_status_5605') }}" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Stack Status</span>
                    </a>
                </div>
                <a href="{{ url_for('main.dashboard') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-tachometer-alt fa-fw mr-3"></span>
                        <span class="menu-collapsed">Dashboard</span>
                    </div>
                </a>
              
                <a href="{{ url_for('main.profile') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-user fa-fw mr-3"></span>
                        <span class="menu-collapsed">Profile</span>
                    </div>
                </a>
                <a href="{{ url_for('main.settings') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-cogs fa-fw mr-3"></span>
                        <span class="menu-collapsed">Settings</span>
                    </div>
                </a>

                <!-- Collapsible menu for 5607 Building
                <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-industry fa-fw mr-3"></span>
                        <span class="menu-collapsed">5607 Building</span>
                        <span class="fas fa-caret-down ml-auto"></span>
                    </div>
                </a>
                <div id="submenu2" class="collapse sidebar-submenu">
                    <a href="{{ url_for('main.stack_control_5607') }}" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Stack Control</span>
                    </a>
                    <a href="{{ url_for('main.stack_status_5607') }}" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Stack Status</span>
                    </a>
                </div>
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>ACTIONS</small>
                </li>
                <a href="{{ url_for('auth.logout') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-sign-out-alt fa-fw mr-3"></span>
                        <span class="menu-collapsed">Logout</span>
                    </div>
                </a>-->
            </ul> 
        </div>

        <!-- Main content area -->
        <div class="main-content">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    {% if request.endpoint in ['main.stack_status_5605', 'main.stack_status_5607', 'main.stack_control_5605', 'main.stack_control_5607'] %}
                    <div class="nav-item nav-buttons">
                        <button class="nav-button {% if request.endpoint in ['main.stack_status_5605', 'main.stack_control_5605'] %}active{% endif %}" id="nav-button-5605"
                                data-url-stack-status="{{ url_for('main.stack_status_5605') }}"
                                data-url-stack-control="{{ url_for('main.stack_control_5605') }}">
                            5605 Building
                        </button>
                        <button class="nav-button {% if request.endpoint in ['main.stack_status_5607', 'main.stack_control_5607'] %}active{% endif %}" id="nav-button-5607"
                                data-url-stack-status="{{ url_for('main.stack_status_5607') }}"
                                data-url-stack-control="{{ url_for('main.stack_control_5607') }}">
                            5607 Building
                        </button>
                    </div>
                    {% endif %}
                    <button class="navbar-toggler navbar-toggler-centered" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="mx-auto d-md-none text-center">
                        <div class="navbar-text-logo d-flex align-items-center justify-content-center">
                            <span class="navbar-brand mb-0 h1">Stack Lights</span>
                            <a class="navbar-logo ml-2" href="#">
                                <img src="{{ url_for('static', filename='images/logonobg.png') }}" alt="Logo" style="height: 30px;">
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#"><i class="fas fa-user-circle"></i> {{ current_user.username }} <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </li>
                            <!-- Move sidebar items into the navbar for mobile view -->
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="{{ url_for('main.dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="{{ url_for('main.home') }}"><i class="fas fa-home"></i> Home</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="{{ url_for('main.profile') }}"><i class="fas fa-user"></i> Profile</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="{{ url_for('main.settings') }}"><i class="fas fa-cogs"></i> Settings</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="{{ url_for('main.stack_control_5605') }}"><i class="fas fa-layer-group"></i> Stack Control</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="{{ url_for('main.stack_status_5605') }}"><i class="fas fa-layer-group"></i> Stack Status</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content -->
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- navbar -->
    <script src="{{ url_for('static', filename='js/navbar-buttons.js') }}"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <!-- Include the inactivity script -->
    <script src="{{ url_for('static', filename='js/inactivity-logout.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Highlight current page
            const currentUrl = window.location.pathname;
            document.querySelectorAll(".list-group-item-action").forEach(function(link) {
                if (link.getAttribute("href") === currentUrl) {
                    link.classList.add("active");
                    if (link.closest(".collapse")) {
                        link.closest(".collapse").classList.add("show");
                        link.querySelector('.fas.fa-caret-down').classList.add('fa-caret-up');
                    }
                }
            });

            // Retain collapsible state
            if (localStorage.getItem("submenuExpanded") === "true") {
                document.getElementById("submenu1").classList.add("show");
                document.querySelector('a[href="#submenu1"] .fas.fa-caret-down').classList.add('fa-caret-up');
            }

            // Listen for submenu toggle clicks
            document.querySelector('a[href="#submenu1"]').addEventListener("click", function() {
                const submenu = document.getElementById("submenu1");
                const isExpanded = submenu.classList.contains("show");
                localStorage.setItem("submenuExpanded", !isExpanded);
                this.querySelector('.fas.fa-caret-down').classList.toggle('fa-caret-up', !isExpanded);
            });

            // Toggle sidebar collapse
            document.querySelector('.navbar-toggler').addEventListener('click', function() {
                document.getElementById('sidebar-container').classList.toggle('d-none');
                document.querySelector('.main-content').classList.toggle('full-width');
                document.querySelector('.navbar').classList.toggle('full-width');
            });
        });
    </script>
</body>
</html>
