<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}VST Stack Lights{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    </head>
<body>
    <div id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <div class="sidebar-logo">
                <img src="{{ url_for('static', filename='images/logonobg_w.png') }}" class="sidebar-logo-img" alt="Logo">
            </div>
            <ul class="list-group">
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>MAIN MENU</small>
                </li>
                <a href="{{ url_for('main.stack_status_5605') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-home fa-fw mr-3"></span>
                        <span class="menu-collapsed">Home</span>
                    </div>
                </a>
                <!-- Collapsible menu for 5605 Building -->
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-lightbulb fa-fw mr-3"></span>
                        <span class="menu-collapsed">Stacklights</span>
                        <span class="fas fa-caret-down ml-auto"></span>
                    </div>
                </a>
                <!-- Submenu -->
                <div id="submenu1" class="collapse sidebar-submenu">
                    <a href="{{ url_for('main.stack_control_5605') }}" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Stack Control</span>
                    </a>
                    <a href="{{ url_for('main.stack_status_5605') }}" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Stack Status</span>
                    </a>
                </div>
                <a href="{{ url_for('main.open_tickets') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-ticket-alt fa-fw mr-3"></span>
                        <span class="menu-collapsed">Tickets</span>
                    </div>
                </a>
                <a href="{{ url_for('main.dashboard') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-tachometer-alt fa-fw mr-3"></span>
                        <span class="menu-collapsed">Dashboard</span>
                    </div>
                </a>
                <a href="{{ url_for('main.profile') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-user fa-fw mr-3"></span>
                        <span class="menu-collapsed">Profile</span>
                    </div>
                </a>
                <a href="{{ url_for('main.settings') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-cogs fa-fw mr-3"></span>
                        <span class="menu-collapsed">Settings</span>
                    </div>
                </a>
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>ACTIONS</small>
                </li>
                <a href="{{ url_for('auth.logout') }}" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-sign-out-alt fa-fw mr-3"></span>
                        <span class="menu-collapsed">Logout</span>
                    </div>
                </a>
            </ul> 
        </div>

        <!-- Main content area -->
        <div class="main-content">
            <!-- Navbar -->
 <!-- Navbar -->
 <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.endpoint in ['main.stack_status_5605', 'main.stack_status_5607', 'main.stack_control_5605', 'main.stack_control_5607'] %}
        <div class="nav-item nav-buttons">
            <button class="nav-button {% if request.endpoint in ['main.stack_status_5605', 'main.stack_control_5605'] %}active{% endif %}" id="nav-button-5605"
                    data-url-stack-status="{{ url_for('main.stack_status_5605') }}"
                    data-url-stack-control="{{ url_for('main.stack_control_5605') }}">
                5605 Building
            </button>
            <button class="nav-button {% if request.endpoint in ['main.stack_status_5607', 'main.stack_control_5607'] %}active{% endif %}" id="nav-button-5607"
                    data-url-stack-status="{{ url_for('main.stack_status_5607') }}"
                    data-url-stack-control="{{ url_for('main.stack_control_5607') }}">
                5607 Building
            </button>
        </div>
    {% endif %}
    
    {% if request.endpoint in ['main.dashboard', 'main.dashboard2'] %}
        <div class="nav-item nav-buttons">
            <button class="nav-button {% if request.endpoint in ['main.dashboard'] %}active{% endif %}" id="nav-button-dashboard"
                    data-url-stack-AllTickets="{{ url_for('main.dashboard') }}">
                All Tickets
            </button>
            <button class="nav-button {% if request.endpoint in ['main.dashboard2'] %}active{% endif %}" id="nav-button-dashboard1"
                    data-url-stack-ticketStats="{{ url_for('main.dashboard2') }}">
                Ticket Stats
            </button>
        </div>
    {% endif %}

        <div class="navbar-text-logo d-flex align-items-center">
            <a class="navbar-logo" href="#">
                <img src="{{ url_for('static', filename='images/logonobg.png') }}" alt="Logo" class="logo-img">
            </a>
            <!-- <a class="navbar-brand mb-0 h1 navbar-title mx-auto" href="#">{{ title }}</a> -->
            
        </div>
   



        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="user-icon mr-2">
                            <i class="fas fa-user"></i>
                        </div>
                        {{ current_user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{ url_for('main.profile') }}"><i class="fas fa-user-alt"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </li>
                <!-- Move sidebar items into the navbar for mobile view -->
                <li class="nav-item d-md-none">
                    <a class="nav-link d-flex align-items-center" href="{{ url_for('main.dashboard') }}">
                        <div class="icon-circle">
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link d-flex align-items-center" href="{{ url_for('main.open_tickets') }}">
                        <div class="icon-circle">
                            <i class="fas fa-ticket-alt"></i>
                        </div>
                        Tickets
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link d-flex align-items-center" href="{{ url_for('main.stack_status_5605') }}">
                        <div class="icon-circle">
                            <i class="fas fa-list-alt"></i>
                        </div>
                        Stack Status
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link d-flex align-items-center" href="{{ url_for('main.stack_control_5605') }}">
                        <div class="icon-circle">
                            <i class="fas fa-lightbulb"></i>
                        </div>
                        Stack Control
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link d-flex align-items-center" href="{{ url_for('auth.logout') }}">
                        <div class="icon-circle">
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
            <!-- Page content -->
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
 <!-- jQuery -->
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <!-- Popper.js -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <!-- Bootstrap JS -->
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <!-- DataTables JS -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
 <!-- Custom JS -->
 <script src="{{ url_for('static', filename='js/navbar-buttons.js') }}"></script>
 <script src="{{ url_for('static', filename='js/inactivity-logout.js') }}"></script>
 <script src="{{ url_for('static', filename='js/collapse.js') }}"></script>
</body>
</html>